html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: rgb(235, 234, 211);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

main {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #616161;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

button {
  cursor: pointer;
  border-radius: 5px;
  width: 80px;
  height: 60px;
  background-color: #fff;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: #fff;
  background-color: #464646;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  transition: background-color 0.05s ease-in-out;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 5px 10px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: translateY(2px);
}

button:hover {
  background-color: #616161;
}

.operator {
  background-color: #616161;
}

.operator:hover {
  background-color: #464646;
}

.all-clear {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
  width: 100%;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign,
.all-clear {
  background-color: #e6a845;
  color: #101010;
  height: 100%;
}

.equal-sign:hover,
.all-clear:hover {
  background-color: #f7c472;
  color: #101010;
  height: 100%;
}

.keys {
  background-color: #424242;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  padding: 20px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 600px) {
  .keys {
    grid-template-columns: repeat(4, 1fr);
  }
  .first-row {
    grid-row: 1;
  }

  .second-row {
    grid-row: 6;
  }
}

.is-depressed {
  border: thin dashed #fff;
}

#expo {
  display: none;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: thin dashed #fff;
  background-color: #616161;
  color: #fff;
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  button {
    width: 60px;
    height: 40px;
    font-size: 1.5rem;
  }

  .display {
    width: 100%;
    font-size: 3rem;
    height: 60px;
  }

  .keys {
    grid-gap: 10px;
  }

  #expo {
    height: 15px;
    width: 15px;
    font-size: 10px;
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
